::selection {
    background: $red;
}
::-moz-selection {
    background: $red;
}

.form-control, .form-control:focus {
    backdrop-filter: blur(10px);
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ccd;
}

.scrollable {
    scrollbar-color: #ccd rgba(0, 0, 0, 0.3);
    scrollbar-width: thin;
    overflow-y: auto;
}

.no-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.card {
    background-color: $t-light;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

pre {
    background-color: $t-dark !important;
    border-radius: 3px;
    padding: 0.5rem;
}

code {
    color: $light !important;
}

.vuejs-clipper-fixed__wrap {
    backdrop-filter: blur(10px);
}

h1, h2, h3, h4 {
    font-family: 'Poppins';
}

h1, .h1 {
    font-size: 2.75rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.5rem;
}

h4, .h4 {
    font-size: 1.25rem;
}

h5, .h5 {
    font-size: 1rem;
}

p {
    margin-bottom: .5rem;
}

.tooltip .tooltip-inner {
    max-width: 400px !important;
}

blockquote {
    padding-left: 15px;
    border-left: 3px solid gray;
    margin-bottom: .5rem;
}


