// Typography
$font-family-sans-serif: 'Roboto', 'Asap', sans-serif;
$font-family: $font-family-sans-serif;
$font-family-heavy: 'Asap', 'Roboto', sans-serif;
$font-weight: 400;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #6c757d;
$dark: #1a1a1d;
$light: #f8f9fa;
$danger: #e3342f;
$t-dark: rgba(0, 0, 0, .5);
$t-light: rgba(125, 125, 125, 0.25);

$theme-colors: (
    "dark": $dark,
    "light": $light,
);

// Body
$body-bg: #1a1a1d;
$body-color: #f8f9fa;

// Input
$input-bg: $t-dark;
$input-focus-bg: $t-dark;
$input-color: $light;
$input-focus-color: $light;
$input-border-color: none;
$custom-file-button-bg: #333;

// Links
$link-color: $danger;
$link-decoration: none;
$link-hover-decoration: none;



